<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_Logistics>
            <version>1.0.5</version>
        </Iparcel_Logistics>
    </modules>
    <global>
        <models>
            <iplogistics>
                <class>Iparcel_Logistics_Model</class>
                <resourceModel>iplogistics_resource</resourceModel>
            </iplogistics>
            <iplogistics_resource>
                <class>Iparcel_Logistics_Model_Resource</class>
                <entities>
                    <api_quote>
                        <table>iparcel_logistics_api_quote</table>
                    </api_quote>
                </entities>
            </iplogistics_resource>
            <sales>
                <rewrite>
                    <quote_address_total_collector>Iparcel_Logistics_Model_Quote_Address_Total_Collector</quote_address_total_collector>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <sales_total_quote_shipping>Iparcel_Logistics_Model_Tax_Quote_Shipping</sales_total_quote_shipping>
                    <sales_total_quote_subtotal>Iparcel_Logistics_Model_Tax_Quote_Subtotal</sales_total_quote_subtotal>
                    <sales_total_quote_tax>Iparcel_Logistics_Model_Tax_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
        </models>
        <helpers>
            <iplogistics>
                <class>Iparcel_Logistics_Helper</class>
            </iplogistics>
        </helpers>
        <blocks>
            <iplogistics>
                <class>Iparcel_Logistics_Block</class>
            </iplogistics>
        </blocks>
        <resources>
            <iplogistics_setup>
                <setup>
                    <module>Iparcel_Logistics</module>
                    <class>Iparcel_Logistics_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iplogistics_setup>
        </resources>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <iplogistics>
                        <type>singleton</type>
                        <class>iplogistics/observer</class>
                        <method>shipment_save_after</method>
                    </iplogistics>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_place_after>
                <observers>
                    <iplogistics>
                        <type>singleton</type>
                        <class>iplogistics/observer</class>
                        <method>order_place_after</method>
                    </iplogistics>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <iplogistics>
                        <type>singleton</type>
                        <class>iplogistics/observer</class>
                        <method>order_cancel_after</method>
                    </iplogistics>
                </observers>
            </order_cancel_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <iplogistics>
                        <type>singleton</type>
                        <class>iplogistics/observer</class>
                        <method>core_block_abstract_to_html_before</method>
                    </iplogistics>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <sales>
            <quote>
                <totals>
                    <iparcel_tax>
                        <class>iplogistics/quote_address_total_tax</class>
                        <before>grand_total</before>
                        <after>shipping</after>
                    </iparcel_tax>
                    <iparcel_duty>
                        <class>iplogistics/quote_address_total_duty</class>
                        <before>grand_total</before>
                        <after>iparcel_tax</after>
                    </iparcel_duty>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <iparcel_tax>
                        <class>iplogistics/order_invoice_total_tax</class>
                    </iparcel_tax>
                    <iparcel_duty>
                        <class>iplogistics/order_invoice_total_duty</class>
                    </iparcel_duty>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <iparcel_tax>
                        <class>iplogistics/order_creditmemo_total_tax</class>
                    </iparcel_tax>
                    <iparcel_duty>
                        <class>iplogistics/order_creditmemo_total_duty</class>
                    </iparcel_duty>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_iparcel_duty_amount><to_order>*</to_order></base_iparcel_duty_amount>
                <iparcel_duty_amount><to_order>*</to_order></iparcel_duty_amount>
                <base_iparcel_tax_amount><to_order>*</to_order></base_iparcel_tax_amount>
                <iparcel_tax_amount><to_order>*</to_order></iparcel_tax_amount>
            </sales_convert_quote_address>
            <sales_convert_order>
                <base_iparcel_duty_amount><to_invoice>*</to_invoice><to_cm>*</to_cm></base_iparcel_duty_amount>
                <iparcel_duty_amount><to_invoice>*</to_invoice><to_cm>*</to_cm></iparcel_duty_amount>
                <base_iparcel_tax_amount><to_invoice>*</to_invoice><to_cm>*</to_cm></base_iparcel_tax_amount>
                <iparcel_tax_amount><to_invoice>*</to_invoice><to_cm>*</to_cm></iparcel_tax_amount>
            </sales_convert_order>
        </fieldsets>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <iplogistics>
                    <file>iplogistics.xml</file>
                </iplogistics>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <iplogistics>
                    <file>iplogistics.xml</file>
                </iplogistics>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iplogistics after="Mage_Adminhtml">Iparcel_Logistics_Adminhtml</iplogistics>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <carriers>
            <i-parcel>
                <active>1</active>
                <model>iplogistics/carrier_iparcel</model>
                <title>I-Parcel</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <username>custtest</username>
                <password>custtest</password>
                <autoship>1</autoship>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <whitelabelpay>i-parcel</whitelabelpay>
                <whitelabelship>i-parcel</whitelabelship>
            </i-parcel>
        </carriers>
    </default>
</config>
