<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_Logistics>
            <version>1.0.0</version>
        </Iparcel_Logistics>
    </modules>
    <global>
        <models>
            <iplogistics>
                <class>Iparcel_Logistics_Model</class>
            </iplogistics>
        </models>
        <helpers>
            <iplogistics>
                <class>Iparcel_Logistics_Helper</class>
            </iplogistics>
        </helpers>
        <blocks>
            <iplogistics>
                <class>Iparcel_Logistics_Block</class>
            </iplogistics>
        </blocks>
        <resources>
            <iplogistics_setup>
                <setup>
                    <module>Iparcel_Logistics</module>
                    <class>Iparcel_Logistics_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iplogistics_setup>
        </resources>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <iplogistics>
                        <type>singleton</type>
                        <class>iplogistics/observer</class>
                        <method>shipment_save_after</method>
                    </iplogistics>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_place_after>
                <observers>
                    <iplogistics>
                        <type>singleton</type>
                        <class>iplogistics/observer</class>
                        <method>order_place_after</method>
                    </iplogistics>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <iplogistics>
                        <type>singleton</type>
                        <class>iplogistics/observer</class>
                        <method>order_cancel_after</method>
                    </iplogistics>
                </observers>
            </order_cancel_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <iplogistics>
                        <type>singleton</type>
                        <class>iplogistics/observer</class>
                        <method>core_block_abstract_to_html_before</method>
                    </iplogistics>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <iplogistics>
                    <file>iplogistics.xml</file>
                </iplogistics>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iplogistics after="Mage_Adminhtml">Iparcel_Logistics_Adminhtml</iplogistics>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <carriers>
            <i-parcel>
                <active>1</active>
                <model>iplogistics/carrier_iparcel</model>
                <title>I-Parcel</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <username>custtest</username>
                <password>custtest</password>
                <autoship>1</autoship>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <whitelabelpay>i-parcel</whitelabelpay>
                <whitelabelship>i-parcel</whitelabelship>
            </i-parcel>
        </carriers>
    </default>
</config>
