<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_Logistics>
            <version>1.2.1</version>
        </Iparcel_Logistics>
    </modules>
    <global>
        <models>
            <iplogistics>
                <class>Iparcel_Logistics_Model</class>
                <resourceModel>iplogistics_resource</resourceModel>
            </iplogistics>
        </models>
        <helpers>
            <iplogistics>
                <class>Iparcel_Logistics_Helper</class>
            </iplogistics>
        </helpers>
        <blocks>
            <iplogistics>
                <class>Iparcel_Logistics_Block</class>
            </iplogistics>
        </blocks>
        <resources>
            <iplogistics_setup>
                <setup>
                    <module>Iparcel_Logistics</module>
                    <class>Iparcel_Logistics_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iplogistics_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iplogistics after="Mage_Adminhtml">Iparcel_Logistics_Adminhtml</iplogistics>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <carriers>
            <iparcel>
                <active>1</active>
                <title>I-Parcel</title>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <autoship>0</autoship>
                <autotrack>1</autotrack>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <whitelabelpay>i-parcel</whitelabelpay>
                <whitelabelship>i-parcel</whitelabelship>
            </iparcel>
        </carriers>
    </default>
</config>
