<?xml version="1.0" encoding="UTF-8"?>
<config>
    <sections>
        <carriers>
            <groups>
                <iparcel>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </iparcel>
            </groups>
        </carriers>
        <iparcel>
            <groups>
                <tax translate="label">
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                </tax>
            </groups>
        </iparcel>
    </sections>
</config>
