<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_All>
            <version>0.0.1</version>
        </Iparcel_All>
    </modules>
    <global>
        <models>
            <iparcel>
                <class>Iparcel_All_Model</class>
            </iparcel>
        </models>
        <blocks>
            <iparcel>
                <class>Iparcel_All_Block</class>
            </iparcel>
        </blocks>
        <helpers>
            <iparcel>
                <class>Iparcel_All_Helper</class>
            </iparcel>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <iparcel>
                    <file>iparcel.xml</file>
                </iparcel>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iparcel>
                                            <title>i-parcel Configuration</title>
                                        </iparcel>
                                        <catalog_mapping>
                                            <title>i-parcel Catalog Mapping</title>
                                        </catalog_mapping>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iparcel after="Mage_Adminhtml">Iparcel_All_Adminhtml</iparcel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <catalog_mapping>
            <config>
                <auto_upload>0</auto_upload>
            </config>
            <upload>
                <step>100</step>
                <offset>0</offset>
            </upload>
            <attributes>
                <price>1</price>
            </attributes>
        </catalog_mapping>
    </default>
</config>
