<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_All>
            <version>1.0.0</version>
        </Iparcel_All>
    </modules>
    <frontend>
        <routers>
            <iparcel>
                <use>standard</use>
                <args>
                    <module>Iparcel_All</module>
                    <frontName>iparcel</frontName>
                </args>
            </iparcel>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <iparcel_catalog_mapping>
                <schedule><cron_expr>0 0 1 1 *</cron_expr></schedule>
                <run>
                    <model>iparcel/cron::catalogMapping</model>
                </run>
            </iparcel_catalog_mapping>
        </jobs>
    </crontab>
    <global>
        <models>
            <iparcel>
                <class>Iparcel_All_Model</class>
            </iparcel>
        </models>
        <blocks>
            <iparcel>
                <class>Iparcel_All_Block</class>
            </iparcel>
        </blocks>
        <helpers>
            <iparcel>
                <class>Iparcel_All_Helper</class>
            </iparcel>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <iparcel_catalog_product_observer>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Catalog_Product_Observer</class>
                        <method>product_save</method>
                    </iparcel_catalog_product_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <iparcel_catalog_product_observer>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Catalog_Product_Observer</class>
                        <method>product_massUpdate</method>
                    </iparcel_catalog_product_observer>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_delete_before>
                <observers>
                    <iparcel_catalog_product_observer>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Catalog_Product_Observer</class>
                        <method>product_delete</method>
                    </iparcel_catalog_product_observer>
                </observers>
            </catalog_product_delete_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <iparcel>
                    <file>iparcel.xml</file>
                </iparcel>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iparcel>
                                            <title>i-parcel Configuration</title>
                                        </iparcel>
                                        <catalog_mapping>
                                            <title>i-parcel Catalog Mapping</title>
                                        </catalog_mapping>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iparcel after="Mage_Adminhtml">Iparcel_All_Adminhtml</iparcel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <catalog_mapping>
            <config>
                <auto_upload>0</auto_upload>
            </config>
            <upload>
                <step>100</step>
                <offset>0</offset>
            </upload>
            <attributes>
                <price>1</price>
            </attributes>
        </catalog_mapping>
    </default>
</config>
