<?xml version="1.0"?>
<config>
    <modules>
        <Iparcel_All>
            <version>1.2.0</version>
        </Iparcel_All>
    </modules>
    <frontend>
        <routers>
            <iparcel>
                <use>standard</use>
                <args>
                    <module>Iparcel_All</module>
                    <frontName>iparcel</frontName>
                </args>
            </iparcel>
        </routers>
        <layout>
            <updates>
                <iparcel>
                    <file>iparcel.xml</file>
                </iparcel>
            </updates>
        </layout>
        <translate>
            <modules>
                <iparcel>
                    <files>
                        <default>iparcel.csv</default>
                    </files>
                </iparcel>
            </modules>
        </translate>
    </frontend>
    <crontab>
        <jobs>
            <iparcel_catalog_mapping>
                <schedule><cron_expr>0 0 1 1 *</cron_expr></schedule>
                <run>
                    <model>iparcel/cron::catalogMapping</model>
                </run>
            </iparcel_catalog_mapping>
        </jobs>
    </crontab>
    <global>
        <models>
            <iparcel>
                <class>Iparcel_All_Model</class>
                <resourceModel>iparcel_resource</resourceModel>
            </iparcel>
            <iparcel_resource>
                <class>Iparcel_All_Model_Resource</class>
                <entities>
                    <api_quote>
                        <table>iparcel_all_api_quote</table>
                    </api_quote>
                    <log>
                        <table>iparcel_all_log</table>
                    </log>
                </entities>
            </iparcel_resource>
            <sales>
                <rewrite>
                    <quote_address_total_collector>Iparcel_All_Model_Quote_Address_Total_Collector</quote_address_total_collector>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <sales_total_quote_shipping>Iparcel_All_Model_Tax_Quote_Shipping</sales_total_quote_shipping>
                    <sales_total_quote_subtotal>Iparcel_All_Model_Tax_Quote_Subtotal</sales_total_quote_subtotal>
                    <sales_total_quote_tax>Iparcel_All_Model_Tax_Quote_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
        </models>
        <blocks>
            <iparcel>
                <class>Iparcel_All_Block</class>
            </iparcel>
            <catalog>
                <rewrite>
                    <product_list>Iparcel_All_Block_Catalog_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>
        <resources>
            <iparcel_setup>
                <setup>
                    <module>Iparcel_All</module>
                    <class>Iparcel_All_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </iparcel_setup>
        </resources>
        <helpers>
            <iparcel>
                <class>Iparcel_All_Helper</class>
            </iparcel>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <iparcel_catalog_product_observer>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Catalog_Product_Observer</class>
                        <method>product_save</method>
                    </iparcel_catalog_product_observer>
                </observers>
            </catalog_product_save_after>
            <catalog_product_attribute_update_before>
                <observers>
                    <iparcel_catalog_product_observer>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Catalog_Product_Observer</class>
                        <method>product_massUpdate</method>
                    </iparcel_catalog_product_observer>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_product_delete_before>
                <observers>
                    <iparcel_catalog_product_observer>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Catalog_Product_Observer</class>
                        <method>product_delete</method>
                    </iparcel_catalog_product_observer>
                </observers>
            </catalog_product_delete_before>
            <sales_order_shipment_save_after>
                <observers>
                    <iparcel_shipment_save_after>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Observer</class>
                        <method>shipment_save_after</method>
                    </iparcel_shipment_save_after>
                </observers>
            </sales_order_shipment_save_after>
            <sales_order_place_after>
                <observers>
                    <iparcel_order_place_after>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Observer</class>
                        <method>order_place_after</method>
                    </iparcel_order_place_after>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <iparcel_order_cancel_after>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Observer</class>
                        <method>order_cancel_after</method>
                    </iparcel_order_cancel_after>
                </observers>
            </order_cancel_after>
            <core_block_abstract_to_html_before>
                <observers>
                    <iparcel_core_block_abstract_to_html_before>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Observer</class>
                        <method>core_block_abstract_to_html_before</method>
                    </iparcel_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <paypal_prepare_line_items>
                <observers>
                    <iparcel_paypal_prepare_line_item>
                        <type>singleton</type>
                        <class>Iparcel_All_Model_Observer</class>
                        <method>paypal_prepare_line_items</method>
                    </iparcel_paypal_prepare_line_item>
                </observers>
            </paypal_prepare_line_items>
        </events>
        <sales>
            <quote>
                <totals>
                    <iparcel_tax>
                        <class>iparcel/quote_address_total_tax</class>
                        <before>grand_total</before>
                        <after>shipping</after>
                    </iparcel_tax>
                    <iparcel_duty>
                        <class>iparcel/quote_address_total_duty</class>
                        <before>grand_total</before>
                        <after>iparcel_tax</after>
                    </iparcel_duty>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <iparcel_tax>
                        <class>iparcel/order_invoice_total_tax</class>
                    </iparcel_tax>
                    <iparcel_duty>
                        <class>iparcel/order_invoice_total_duty</class>
                    </iparcel_duty>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <iparcel_tax>
                        <class>iparcel/order_creditmemo_total_tax</class>
                    </iparcel_tax>
                    <iparcel_duty>
                        <class>iparcel/order_creditmemo_total_duty</class>
                    </iparcel_duty>
                </totals>
            </order_creditmemo>
        </sales>
        <fieldsets>
            <sales_convert_quote_address>
                <base_iparcel_duty_amount><to_order>*</to_order></base_iparcel_duty_amount>
                <iparcel_duty_amount><to_order>*</to_order></iparcel_duty_amount>
                <base_iparcel_tax_amount><to_order>*</to_order></base_iparcel_tax_amount>
                <iparcel_tax_amount><to_order>*</to_order></iparcel_tax_amount>
            </sales_convert_quote_address>
            <sales_convert_order>
                <base_iparcel_duty_amount><to_invoice>*</to_invoice><to_cm>*</to_cm></base_iparcel_duty_amount>
                <iparcel_duty_amount><to_invoice>*</to_invoice><to_cm>*</to_cm></iparcel_duty_amount>
                <base_iparcel_tax_amount><to_invoice>*</to_invoice><to_cm>*</to_cm></base_iparcel_tax_amount>
                <iparcel_tax_amount><to_invoice>*</to_invoice><to_cm>*</to_cm></iparcel_tax_amount>
            </sales_convert_order>
        </fieldsets>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <iparcel>
                    <file>iparcel.xml</file>
                </iparcel>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <iparcel>
                                            <title>i-parcel Configuration</title>
                                        </iparcel>
                                        <catalog_mapping>
                                            <title>i-parcel Catalog Mapping</title>
                                        </catalog_mapping>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iparcel after="Mage_Adminhtml">Iparcel_All_Adminhtml</iparcel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <payment>
            <iparcel>
                <active>1</active>
                <model>iparcel/payment_iparcel</model>
            </iparcel>
        </payment>
        <catalog_mapping>
            <config>
                <auto_upload>0</auto_upload>
            </config>
            <upload>
                <step>100</step>
                <offset>0</offset>
            </upload>
            <attributes>
                <price>1</price>
            </attributes>
        </catalog_mapping>
        <carriers>
            <iparcel>
                <title>UPS i-Parcel</title>
                <model>iparcel/carrier_iparcel</model>
                <autotrack>1</autotrack>
            </iparcel>
        </carriers>
    </default>
</config>
